.image {
  position: relative;
  border-radius: 1.25rem;
  background: var(--back-color-grey);
  background-size: contain;
  animation: image_anime 3s ease 0s infinite;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hovered {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    border-radius: 1.25rem;
    background: rgba(255, 134, 142, 0.6);

    transition: 0.15s ease;
    transform: translateY(60%);
    opacity: 0;

    > * {
      padding: 0.63rem;
    }
  }

  &:hover {
    .hovered {
      transition: 0.3s ease;
      transform: translateY(0);
      opacity: 1;
    }
  }
}
@keyframes image_anime {
  0%,
  100% {
    background: var(--back-color-grey);
  }
  55% {
    background: var(--back-darker-color);
  }
}
