.box {
  display: flex;
  flex-direction: column;
}

.label {
  padding: 0 0.85rem;
  line-height: 1.125rem;

  color: #8c8c8c;
  font-size: 0.625rem;
  font-weight: 500;
}

.input {
  border-radius: 0.625rem;
  padding: 0.5rem;

  background: #FFF;
  border: none;
  outline: none;

  color: #1d1d1d;
  font-family: Jost;
  font-size: 1rem;
  font-weight: 400;

  &:focus {
    outline: 2px solid #FBE0DC;
  }
}
