@import "/src/values.scss";

.card {
  --back: currentColor;

  width: 8.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
  text-decoration: none;
  transition: 0.25s ease;

  &_image {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 8.625 / 12.375;
    display: grid;
    place-items: center;

    border-radius: 1.25rem;
    border: 4px solid rgba(255, 255, 255, 0.6);
    background-color: var(--back);
    transition: inherit;
  }

  &_label {
    padding: 0.63rem;
    background: var(--white-color);
    border-radius: 0.625rem;

    color: #ff868e;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.125rem;
    transition: inherit;
  }

  @media (max-width: $phone_size_md) {
    gap: 0;
    width: 100%;

    &_image {
      display: none;
    }
  }

  &:hover {
    .card_image {
      border-color: var(--white-color);
    }

    .card_label {
      background: var(--active-light-color);
    }
  }

  &.active {
    .card_image {
      border-color: #fbe0dc;
    }

    .card_label {
      background: #ff868e;
      color: var(--white-color-fixed);
    }
  }
}
