:root {
  --back-color: #f8f8f7;
  --grey-color: #8c8c8c;
  --black-color: #1d1d1d;
  --active-color: #ff868e;
}

.btn1 {
  --sm-gap: 0.625rem;

  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;

  border-radius: var(--sm-gap);
  background: #fbe0dc;
  border: none;

  color: var(--active-color);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.125rem;

  &.gray {
    background: var(--back-color);
  }

  &.light {
    background: #fff;
  }

  &.type_large {
    width: auto;

    display: flex;
    gap: var(--sm-gap);
    padding-inline: 1.88rem;

    align-items: center;
  }

  &.type_icon_md {
    width: 3.75rem;
    height: 3.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.brand {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.warper {
  width: 100%;
  height: 100dvh;
  background: var(--back-color);
  padding: 1.88rem;

  display: flex;

  > section {
    width: 50%;
    flex: 1;
  }
}

.section_left {
  &_container {
    width: fit-content;
    margin: auto;
    max-width: 100%;

    padding-right: 1rem;
  }

  &__main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  h1 {
    font-size: 2.75rem;
    font-weight: 500;
  }
  p {
    color: var(--grey-color);
    padding: 0.5rem 0;
  }

  strong {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-block: 1.25rem;
  }
}

.homepage {
  position: relative;
  height: 100%;
  border-radius: 1.25rem;
  background: #fbe0dc;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;

    max-height: calc(100% + 4rem);
    width: calc(100% + 4rem);
    object-fit: cover;
  }
}

.right_header {
  display: flex;
  gap: 0.63rem;

  > * {
    display: inline-flex;
  }
}

.page_title {
  --gap: 0.63rem;

  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;

  &_left {
    display: flex;
    gap: var(--gap);
  }

  &_head {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;
    border-radius: 0.625rem;
    width: 9.75rem;
    flex-shrink: 0;

    background: var(--active-color);
    color: #fff;

    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.125rem;
  }
}

.page_content {
  --gap: 1.25rem;
  --sm-gap: 0.63rem;

  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.63rem;

  > main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    padding: var(--gap);
    border-radius: var(--gap);
    background: #fff;

    overflow-y: auto;

    > .content {
      overflow-y: auto;
      border-radius: var(--sm-gap);
    }
  }
}

.gallery_filter {
  --gap: 1.25rem;
  --sm-gap: 0.63rem;

  padding: var(--gap);
  border-radius: var(--gap);
  background: var(--back-color);
  margin-bottom: var(--gap);

  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr 1fr;

  > * {
    width: 100%;
  }

  .inline {
    display: flex;
    align-items: end;
    gap: var(--sm-gap);

    > * {
      flex: 1;
    }
    > button {
      flex: 0;
    }
  }
}

.image_list {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-auto-rows: 8.75rem;

  * {
    max-width: 100%;
  }
  > *:nth-child(10n + 1),
  > *:nth-child(10n + 8) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;
  }
  > *:nth-child(10n + 2),
  > *:nth-child(10n + 3),
  > *:nth-child(10n + 5),
  > *:nth-child(10n + 6),
  > *:nth-child(10n + 7),
  > *:nth-child(10n) {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  > *:nth-child(10n + 4),
  > *:nth-child(10n + 9) {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
}

.header_icons {
  color: var(--active-color);
}
.icon_nav_link.active {
  button {
    background-color: var(--active-color);

    * {
      color: var(--back-color);
    }
  }
}

// item not found style
.item_not_found {
  border-radius: 0.625rem;
  background: var(--back-color);

  padding: 1.12rem 1.25rem;

  color: var(--grey-color);
  font-size: 1rem;
  font-weight: 400;
}
