@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./values.scss";

:root {
  --back-color: #f8f8f7;
  --back-color-grey: #f8f8f7;
  --back-darker-color: #eeeeec;
  --grey-color: #8c8c8c;
  --black-color: #1d1d1d;
  --black-color-grey: #1d1d1d;
  --active-color: #ff868e;
  --active-light-color: #fbe0dc;
  --active-light-color-active-light: #fbe0dc;
  --white-color: #fff;
  --white-color-dark: #fff;
  --white-color-fixed: #fff;
}
.dark {
  --back-color: #1d1d1d;
  --back-color-grey: rgba(255, 255, 255, 0.05);
  --back-darker-color: rgba(255, 255, 255, 0.1);
  --black-color: #fff;
  --black-color-grey: #8c8c8c;
  --white-color: rgba(255, 255, 255, 0.05);
  --white-color-dark: #282828;
  --active-light-color: rgba(255, 255, 255, 0.1);
  --active-light-color-active-light: #553c3e;
}

*:focus-visible {
  outline: 2px solid var(--active-light-color-active-light);
}

body,
#root {
  min-height: 100dvh;
  background: var(--back-color);
  color: var(--black-color);
  font-family: Jost;
}

.active_color {
  color: var(--active-color);
}
.grey_color {
  color: var(--grey-color);
}

.flex_center {
  display: grid;
  place-items: center;
}
.flex_btm {
  display: flex;
  align-items: end;
  justify-content: center;
}
.fill {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.btn1 {
  --sm-gap: 0.625rem;

  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;

  border-radius: var(--sm-gap);
  background: var(--active-light-color-active-light);
  border: none;

  color: var(--active-color);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.125rem;

  &.gray {
    background: var(--back-color-grey);
  }

  &.light {
    background: var(--white-color-dark);

    &:hover {
      background-color: var(--active-light-color-active-light);
    }
  }

  &.active {
    background-color: var(--active-color);
    color: var(--back-color);

    &:hover {
      background-color: var(--active-light-color);
      color: var(--active-color);
    }
  }

  &.type_large {
    width: auto;

    display: flex;
    gap: var(--sm-gap);
    padding-inline: 1.88rem;

    align-items: center;
  }

  &.type_icon_md {
    width: 3.75rem;
    height: 3.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.brand {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--black-color);
}

.warper {
  width: 100%;
  height: 100dvh;
  background: var(--back-color);
  padding: 1.88rem;

  display: flex;

  > section {
    width: 50%;
    flex: 1;
  }

  @media (max-width: $phone_size_md) {
    padding: 1.25rem;
  }

  @media (max-width: $tablet_size) {
    &.home {
      .section_left {
        translate: 0 !important;

        &__main .small_hide {
          display: initial;
        }
      }

      .section_right {
        display: none;
      }
    }
    .section_left {
      width: 100%;
      height: 100dvh;
      padding: inherit;

      position: absolute;
      top: 0;
      left: 0;

      z-index: 10;
      background-color: var(--back-color);

      transition: 0.3s ease;

      &__main .small_hide {
        display: none;
      }

      &.hide {
        translate: -105%;
      }
    }
  }
}

.section_left {
  .closeNav {
    display: none;
    justify-content: flex-end;
    margin-bottom: 1.25rem;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &_container {
    width: fit-content;
    margin: auto;
    max-width: 100%;

    padding-right: 1rem;
  }

  &__main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  h1 {
    font-size: 2.75rem;
    font-weight: 500;
  }
  p {
    color: var(--grey-color);
    padding: 0.5rem 0;
  }

  strong {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-block: 1.25rem;
  }

  @media (max-width: $tablet_size) {
    .closeNav {
      display: flex;
    }
  }
  @media (max-width: $phone_size_md) {
    &_container {
      width: auto;
      padding: 0;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }
}

.homepage {
  position: relative;
  height: 100%;
  border-radius: 1.25rem;
  background: var(--active-light-color);

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;

    max-height: calc(100% + 4rem);
    width: calc(100% + 4rem);
    object-fit: cover;
  }
}

.right_header {
  --gap: 0.63rem;

  display: grid;
  gap: var(--gap);

  grid-template-areas: "menu search navs";
  grid-template-columns: auto 1fr auto;

  > * {
    display: inline-flex;
  }

  .menu_button {
    grid-area: menu;
  }
  .header_search {
    grid-area: search;
  }
  .header_navs {
    grid-area: navs;
    display: flex;
    gap: inherit;
  }

  @media (min-width: $tablet_size) {
    grid-template-areas: "search navs";
    grid-template-columns: 1fr auto;

    .menu_button {
      display: none;
    }
  }

  @media (max-width: $phone_size_md) {
    grid-template-areas: "menu navs" "search search";
    grid-template-columns: 1fr auto;
  }

  @media (max-width: $phone_size_sm) {
    grid-template-areas: "menu" "navs" "search";
    grid-template-columns: 1fr;
  }
}

.page_title {
  --gap: 0.63rem;

  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;

  &_left {
    display: flex;
    gap: var(--gap);
  }

  &_head {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;
    border-radius: 0.625rem;
    width: 9.75rem;
    flex-shrink: 0;

    background: var(--active-light-color-active-light);
    color: var(--active-color);

    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.125rem;

    &.w_fit {
      width: fit-content;
      padding-inline: 1.88rem;
    }

    &.last {
      background: var(--active-color);
      color: var(--white-color-fixed);
    }
  }
}

.page_content {
  --gap: 1.25rem;
  --sm-gap: 0.63rem;

  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.63rem;

  > main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    padding: var(--gap);
    border-radius: var(--gap);
    background: var(--white-color);

    @media (min-width: $phone_size_md) {
      overflow-y: auto;
    }

    > .content {
      flex: 1;
      overflow-y: auto;
      border-radius: var(--sm-gap);

      display: flex;
      flex-direction: column;
    }
  }
}

.gallery_filter {
  --gap: 1.25rem;
  --sm-gap: 0.63rem;

  padding: var(--gap);
  border-radius: var(--gap);
  background: var(--back-color);
  margin-bottom: var(--gap);

  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr 1fr;

  > * {
    width: 100%;
  }

  .inline {
    display: flex;
    align-items: end;
    gap: var(--sm-gap);

    > * {
      flex: 1;
    }
    > button {
      flex: 0;
    }
  }

  @media (max-width: $phone_size_md) {
    grid-template-columns: 1fr;
  }
  @media (max-width: $phone_size) {
    .inline {
      flex-direction: column;

      > button {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}

.image_list {
  width: 100%;

  display: grid;
  gap: 1rem;

  * {
    max-width: 100%;
  }
  @media (min-width: calc($phone_size + 1px)) {
    grid-auto-rows: 8.75rem;
    grid-template-columns: 1fr 1fr 1fr;

    > *:nth-child(10n + 1),
    > *:nth-child(10n + 8) {
      grid-column: auto / span 1;
      grid-row: auto / span 2;
    }
    > *:nth-child(10n + 2),
    > *:nth-child(10n + 3),
    > *:nth-child(10n + 5),
    > *:nth-child(10n + 6),
    > *:nth-child(10n + 7),
    > *:nth-child(10n) {
      grid-column: auto / span 1;
      grid-row: auto / span 1;
    }
    > *:nth-child(10n + 4),
    > *:nth-child(10n + 9) {
      grid-column: auto / span 2;
      grid-row: auto / span 2;
    }
  }

  @media (max-width: $phone_size) {
    grid-template-columns: 1fr;

    > * {
      grid-column: auto / span 1;
      grid-row: auto / span 1;

      aspect-ratio: 5.9/4.129;
    }
  }
}

.header_icons {
  color: var(--active-color);
}
.icon_nav_link {
  &:hover {
    button {
      background-color: var(--active-light-color);
    }
  }

  &.active {
    button {
      background-color: var(--active-color);

      * {
        color: var(--back-color);
      }
    }
  }
}

// item not found style
.item_not_found {
  border-radius: 0.625rem;
  background: var(--back-color);

  padding: 1.12rem 1.25rem;

  color: var(--grey-color);
  font-size: 1rem;
  font-weight: 400;
}

//loader
.loader_full {
  color: var(--active-light-color);

  flex: 1;
  display: grid;
  place-items: center;

  > div {
    width: 6.25rem;
    height: 6.25rem;
  }
}

//spinner
.spinner {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, currentColor);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

// breed page image
.breed_images {
  position: relative;
  display: flex;

  width: 100%;
  aspect-ratio: 40/22.5;

  > * {
    aspect-ratio: 40/22.5;
    width: 100%;
  }
}

.upload_section {
  --size-sm: 0.63rem;
  --size: 1.25rem;
  --size-md: 2.25rem;
  --size-lg: 2.5rem;

  color: var(--black-color);

  > h2 {
    font-size: var(--size-md);
    font-weight: 500;
    margin-bottom: var(--size-sm);
  }

  > p {
    font-size: var(--size);
    font-weight: 400;
  }

  .upload_form {
    margin-top: var(--size-lg);
    display: grid;
    gap: var(--size);
  }

  .drag {
    width: 100%;
    aspect-ratio: 2 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: var(--size);
    border: 2px dashed var(--active-light-color);

    background: url(/src/assets/imageholder.svg) center no-repeat;
    background-color: var(--white-color);

    font-size: var(--size);
    font-weight: 400;

    // margin-block: var(--size-lg) var(--size);
    padding: var(--size) var(--size-lg);

    b {
      color: var(--black-color);
    }

    .preview {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: var(--size-sm);
    }
  }
}
